<h1>My Home Network <span class="pull-right"><a href="/login" class="btn btn-success"><i class="fa fa-sign-out"></i> Log Out</a></span></h1>
<div id="main">
    <div class="device" id="desktop" data-mid="win">
        <figure>
            <img src="/images/windowsDesktop(small).png"/>
            <figcaption>Small Windows Desktop</figcaption>
        </figure>
    </div>
    <div class="device" id="router" data-mid="routerModal">
        <figure>
            <img src="/images/DLinkRouter.png"/>
            <figcaption>D-Link Router</figcaption>
        </figure>
    </div>

    <div class="device" id="air" data-mid="mba">
        <figure>
            <img src="/images/macbookAir(small).png"/>
            <figcaption>MacBook Air</figcaption>
        </figure>
    </div>
    <div class="device" id="iphone" data-mid="iph">
        <figure>
            <img src="/images/iPhone(small).png"/>
            <figcaption>iPhone</figcaption>
        </figure>
    </div>

    <div class="device" id="gaming" data-mid="ps2">
      <figure>
        <img src="/images/gamingDevice.png"/>
          <figcaption>Gaming Device</figcaption>
      </figure>
    </div>

</div>

<%= partial :device, {:locals => {:modal_id => "iph", :device_name => "Frank's iPhone", :signal_strength => :green, :data_loss => 4, :ping => 7, :parent_enabled => true}} %>
<%= partial :device, {:locals => {:modal_id => "mba", :device_name => "Jane's MacBook Air", :signal_strength => :yellow, :data_loss => 2, :ping => 72, :parent_enabled => true}} %>
<%= partial :device, {:locals => {:modal_id => "win", :device_name => "Tad's Tower", :signal_strength => :green, :data_loss => 1, :ping => 3, :parent_enabled => false}} %>
<%= partial :device, {:locals => {:modal_id => "ps2", :device_name => "Jimmy's Console", :signal_strength => :yellow, :data_loss => 3, :ping => 4, :parent_enabled => false}} %>

<%= partial :router, {:locals => {:modal_id => "routerModal", :network_name => "GardyNet", :speed_up => 12, :speed_down => 43}} %>

<!--modal_id device_name signal_strength(:green, :yellow, :red) data_loss ping parent_enabled-->
<script>
    $(function() {
        $(".device").click(function() {
            var mid = $(this).data("mid");
            $("#" + mid).modal();
        })

    })

    jsPlumb.ready(function () {

        jsPlumb.connect({
            source: "desktop",
            target: "router",
            anchors: ["BottomCenter", "Right" ],
            endpoint: "Blank",
            paintStyle: { strokeStyle: "Grey", lineWidth: 3},
            endpointStyle: { fillStyle: "Grey", outlineColor: "Grey", outlineWidth: 1 },
        });

        jsPlumb.connect({
            source: "air",
            target: "router",
            anchors: ["BottomCenter", "Left" ],
            paintStyle: { strokeStyle: "Grey", lineWidth: 3, dashstyle: "2 4"},
            endpointStyle: { fillStyle: "Grey", outlineColor: "Grey", outlineWidth: 1 },
            endpoint: "Blank",
        });

        jsPlumb.connect({
            source: "gaming",
            target: "router",
            anchors: ["BottomCenter", "Left" ],
            paintStyle: { strokeStyle: "Grey", lineWidth: 3},
            endpointStyle: { fillStyle: "Grey", outlineColor: "Grey", outlineWidth: 1 },
            endpoint: "Blank",
        });

        jsPlumb.connect({
            source: "iphone",
            target: "router",
            anchors: ["BottomCenter", "Right" ],
            paintStyle: { strokeStyle: "Grey", lineWidth: 3, dashstyle: "2 4"},
            endpointStyle: { fillStyle: "Grey", outlineColor: "Grey", outlineWidth: 1 },
            endpoint: "Blank",
        });
    });
</script>
